<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }} | Olivia's dev blog</title>
    <link rel="stylesheet" href="{{ 'css/styles.css' | url }}" />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
      </ul>
    </nav>

    {{ content | safe }}

    <footer>
      <p>&copy; {{ currentYear }}</p>
    </footer>
  </body>
</html>
