<!DOCTYPE html>
<html lang="en">
  <head>
    {% include './head.njk' %} 
    <link rel="stylesheet" href="{{ '/css/prism.css' | url }}"/>
    <link rel="stylesheet" href="{{ '/css/pages/blog-post.css' | url }}"/>
  </head>
  <body>
    <div class="page-wrapper">
      {% include './siteHeader.njk' %}
      <main id="main-content">
        <div class="page-content-wrapper post">
          <a href="/blog" class="post__back-link">
            <span aria-hidden="true">&larr;
            </span>Back to the blog</a>
          <h1 class="post__title">{{ title }}</h1>
          <div class="post__dates">
            <p>Published <time datetime="{{ date | isoDate }}">{{ date | asPostDate }}</time></p>
            {% if updated %}
            <p>Updated <time datetime="{{ updated | isoDate }}">{{ updated | asPostDate }}</time></p>
            {% endif %}
          </div>
          <details class="toc-details">
            <summary>Table of content</summary>
            <div class="toc-wrapper">
              {{ content | toc | safe }}
            </div>
          </details>
          {{ content | safe }}
        </div>
      </main>
      {% include './siteFooter.njk' %}
    </div>
    <script src="{{ '/js/add-tabindex.js' | url }}"></script>
  </body>
</html>