<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{{ title }} - Olivia Coumans</title>
<meta name="description" content="{{ description }}" />

<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="{{ title }} - {{ meta.siteName }}" />
<meta name="twitter:description" content="{{ description }}" />
<meta name="twitter:image" content="{{ '/img/blog-img.png' | url }}" />

<meta property="og:title" content="{{ title }} - {{ meta.siteName }}" />
<meta property="og:site_name" content="Olivia Coumans" />
<meta property="og:description" content="{{ description }}" />
<meta property="og:image" content="{{ '/img/blog-img.png' | url }}" />
<meta property="og:url" content="{{ page.url }}" />
<link rel="icon" href="{{ '/img/favicon.ico' | url }}" />

{% for font in ['Atkinson-Hyperlegible-Regular', 'Atkinson-Hyperlegible-Bold', 'shantell-sans-bold'] %}
<link rel="preload" href="/fonts/{{ font }}.woff2" as="font" type="font/woff2" crossorigin="anonymous">
{% endfor %}

<link rel="stylesheet" href="{{ '/css/styles.css' | url }}" />

{% if page.url == '/' %}
  <link rel="stylesheet" href="{{ '/css/pages/home.css' | url }}" />
{% elif page.url.indexOf('/blog') == 0 %}
  <link rel="stylesheet" href="{{ '/css/pages/blog-listing.css' | url }}" />
{% elif page.url.indexOf('/about') == 0 %}
  <link rel="stylesheet" href="{{ '/css/pages/about.css' | url }}" />
{% endif %}

<script src="https://cdn.usefathom.com/script.js" data-site="XQWHOPAL" defer></script>