<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="{{ description }}" />

<meta name="twitter:card" content="summary" key="twcard" />
<meta name="twitter:creator" content="@liv_codes" key="twhandle" />
<meta name="twitter:title" content="{{ title }} | {{ meta.siteName }}" />
<meta name="twitter:description" content="{{ description }}" />
<meta name="twitter:image" content="{{ '/img/blog-img.png' | url }}" />

<meta
  property="og:title"
  content="{{ title }} | {{ meta.siteName }}"
  key="ogtitle"
/>
<meta property="og:site_name" content="Olivia Coumans" key="ogsitename" />
<meta property="og:description" content="{{ description }}" key="ogdesc" />
<meta
  property="og:image"
  content="{{ '/img/blog-img.png' | url }}"
  key="ogimage"
/>
<meta property="og:url" content="{{ page.url }}" key="ogurl" />
<link rel="icon" href="{{ '/img/favicon.ico' | url }}" />

<title>{{ title }} | Olivia Coumans</title>

<link rel="stylesheet" href="{{ '/css/styles.css' | url }}" />
