<footer class="site-footer">
  <div class="site-footer__content-wrapper">
    <div class="max-width-wrapper">
      <div class="site-footer__content">
        <p class="site-footer__copyright">
          &copy; {{ currentYear }} &mdash; Olivia Coumans
        </p>
        <span hidden id="footer_links_list_label">Social media and RSS reader links</span>
        <ul class="site-footer__links-list" aria-labelledby="footer_links_list_label">
          <li class="site-footer__links-list-item">
            <a href="https://github.com/liv7c">Github</a>
          </li>
          <li class="site-footer__links-list-item">
            <a href="https://www.linkedin.com/in/olivia-coumans/">Linkedin</a>
          </li>
          <li class="site-footer__links-list-item">
            <a href="https://bsky.app/profile/oliviac.dev">Bluesky</a>
          </li>
          <li class="site-footer__links-list-item">
            <a href="/feed.xml">RSS Feed</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
