@use "../abstract/mixins";

.max-width-wrapper,
.page-content-wrapper {
  max-width: 64.5rem;
  margin: 0 auto;
  padding: 0 var(--page-padding);
}

.page-content-wrapper {
  padding-bottom: 30px;

  @include mixins.tabletAndUp {
    padding-top: 10px;
    padding-bottom: 60px;
  }
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  border-top: 10px solid var(--primary-green);
  border-bottom: 10px solid var(--decorative-border-color-bright);
}
