.card {
  background-color: var(--off-white);
  border-radius: 10px;
  max-width: 43rem;
  flex: 1;
  border-bottom: 3px solid var(--text-color-dark);
  position: relative;

  &:has(a:hover) {
    border-bottom: 3px solid var(--bright-orange);
    opacity: 0.8;
  }

  &:has(a:focus) {
    outline: 2px solid var(--bright-orange);
    outline-offset: 2px;
  }
  
  a {
    display: flex;
    padding: var(--card-padding, 2rem 1rem);
    flex-direction: column;
    text-decoration: none;
    outline: none;
  }

  strong {
    font-size: 1.125rem;
  }

  time {
    text-decoration: none;
  }
}