.card {
  background-color: var(--off-white);
  border-radius: 10px;
  max-width: 43rem;
  flex: 1;
  border-bottom: 3px solid var(--text-color-dark);
  position: relative;

  &:has(a:hover) {
    border-bottom: 3px solid var(--bright-orange);
    opacity: 0.8;
  }

  &:has(a:focus-visible) {
    outline: 3px solid var(--text-color-dark);
    outline-offset: 4px;
  }
  
  a {
    display: flex;
    padding: var(--card-padding, 2rem 1rem);
    flex-direction: column;
    text-decoration: none;

    /* we disable the outline as the card has a rule of &:has(a:focus-visible) that handles
    adding the focus styles */
    &:focus-visible {
      outline: none;
    }
  }

  strong {
    font-size: 1.125rem;
  }

  time {
    text-decoration: none;
  }
}