.main-link {
  margin-top: 16px;
  border-radius: 2px;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  line-height: 0;

  &::after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 1px;
    margin-top: 12px;
    background-color: currentColor;
  }
}
