@use "../abstract/mixins";

.site-header__logo {
  font-size: 1.2rem;
  padding: 6px 0;
  text-decoration: none;
}

.site-header__content {
  padding: 0;
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;

  @include mixins.tabletAndUp {
    padding: 20px 0;
    align-items: baseline;
  }
}

.site-header__menu-button {
  display: block;
  background-color: transparent;
  border: 1px solid var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 8px;
  border-radius: 2px;

  svg {
    color: var(--text-color);
    width: 30px;
  }

  @include mixins.tabletAndUp {
    display: none;
  }
}

.site-header__skip-link {
  background: var(--button-bg);
  left: 0;
  padding: 10px 12px;
  position: absolute;
  z-index: 1;
  top: -55px;
  display: block;

  &,
  &:link,
  &:visited {
    color: var(--button-text);
  }

  &:focus {
    outline-offset: 3px;
    top: 0;
  }
}

.site-header__nav-list {
  list-style: none;
  position: absolute;
  left: 0;
  background-color: var(--bg-color);
  width: 100vw;
  padding-top: 30px;
  margin-left: calc(var(--page-padding) * -1);
  display: none;

  &--visible {
    display: block;
  }

  @include mixins.tabletAndUp {
    display: block;
    position: static;
    background-color: none;
    width: auto;
    display: flex;
    margin: 0;
    margin-left: auto;
    padding: 0;
  }
}

.site-header__nav-list-item {
  --border-color: rgba(0, 0, 0, 0.2);
  border-top: 1px solid var(--border-color);
  margin-bottom: 0;

  &:last-child {
    border-bottom: 1px solid var(--border-color);
  }

  @include mixins.tabletAndUp {
    border-top: none;
    &:not(:last-child) {
      margin-right: 10px;
    }
    &:last-child {
      border-bottom: none;
    }
  }
}

.site-header__nav-link {
  color: var(--text-color);
  display: block;
  text-underline-offset: 0.17lh;
  padding: 25px var(--page-padding);

  @include mixins.tabletAndUp {
    padding: 7px var(--page-padding);
  }

  &:not(:hover):not([aria-current='page']) {
      text-decoration: none;
  }
}

.site-header__left-side {
  display: flex;
  align-items: baseline;
}

.site-header__theme-toggler-container {
  display: none;

  @include mixins.laptopAndUp {
    min-width: 130px;
    display: block;
    margin-left: 21px;
  }
}
