.site-footer {
  margin-top: auto;
  border-top: 1px solid var(--decorative-border-color);

  &__back-top {
    text-align: center;
  }

  &__back-top-link {
    display: inline-block;
    padding: 10px 0;
  }

  &__content-wrapper {
    background-color: var(--secondary-bg-color);
    padding: 10px 0;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: baseline;
  }

  &__copyright {
    margin-right: 20px;
  }

  &__links-list {
    list-style: none;
    padding: 0;
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
  }

  &__links-list-item {
    &:not(:last-child) {
      margin-right: 10px;
      margin-bottom: 0;
    }

    a {
      display: block;
      padding: 10px;
    }
  }
}
