@use "../abstract/mixins";

.site-footer {
  margin-top: auto;

  &__back-top {
    text-align: center;
  }

  &__back-top-link {
    display: inline-block;
    padding: 10px 0;
  }

  &__content-wrapper {
    background-color: var(--secondary-bg-color);
    padding: 10px 0;

    @include mixins.laptopAndUp {
      border-top-right-radius: 30px;
      border-top-left-radius: 30px;
    }
  }

  &__content {
    @include mixins.laptopAndUp {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: baseline;
    }
  }

  &__copyright {
    margin-right: 20px;
  }

  &__links-list {
    list-style: none;
    padding: 0;
    margin-top: 0;
    display: grid;
    margin-left: -10px;
    grid-template-columns: repeat(2, 1fr);

    @include mixins.laptopAndUp {
      display: flex;
      flex-wrap: wrap;
      margin-left: 0;
    }
  }

  &__links-list-item {
    &:not(:last-child) {
      margin-right: 10px;
      margin-bottom: 0;
    }

    a {
      display: block;
      padding: 10px;
    }
  }
}
