@use "../abstract/mixins";

.site-footer {
  margin-top: auto;
  color: var(--text-color-light);

  &__content-wrapper {
    background-color: var(--footer-bg-color);
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  &__content {
    @include mixins.laptopAndUp {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
    }
  }

  &__copyright {
    margin: 0;
  }

  &__links-list {
    list-style: none;
    padding: 1rem 0;
    gap: 1rem;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @include mixins.laptopAndUp {
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-left: 0;
      gap: 2rem;
    }

    li {
      margin-bottom: 0;
    }
  }
}
