@use "../abstract/mixins";

.site-header {
  margin-bottom: 1rem;
  color: var(--text-color-dark);

  @include mixins.tabletAndUp {
    margin-bottom: 0;
  }
}

.site-header__logo {
  font-size: 1.3rem;
  font-family: var(--font-heading);
  color: var(--title-color);
  font-weight: 600;
  padding: 1rem 0 0.5rem;
  text-decoration: none;
  text-align: center;

  @include mixins.tabletAndUp {
    font-size: 1.5rem;
    text-align: left;
    padding: 6px 0;
  }
}

.site-header__content {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  @include mixins.tabletAndUp {
    align-items: center;
    padding: 2.25rem 0 1rem;
    flex-direction: row;
    align-items: center;
  }
}

.site-header__skip-link {
  background: black;
  color: white;
  left: 6px;
  padding: 10px 12px;
  position: absolute;
  z-index: 1;
  top: -55px;
  display: block;

  &,
  &:link,
  &:visited {
    color: white;
  }

  &:focus {
    outline-offset: 2px;
    outline-width: 3px;
    top: 6px;
  }
}

.site-header__nav-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin-top: 0.5rem;
  margin-bottom: 0;
  margin-left: calc(var(--page-padding) * -1);
  gap: 1rem;

  @include mixins.tabletAndUp {
    display: block;
    position: static;
    background-color: none;
    width: auto;
    display: flex;
    margin-top: 0;
    margin-left: auto;
    gap: 2rem;
  }
}

.site-header__nav-list-item {
    border-top: none;
    margin: 0;
}

.site-header__nav-link {
  color: var(--title-color);
  display: block;
  text-underline-offset: 0.17lh;
  padding: 7px var(--page-padding);

  @include mixins.tabletAndUp {
    padding: 7px var(--page-padding);
  }

  &:not(:hover):not([aria-current='page']) {
      text-decoration: none;
  }
}

.site-header__left-side {
  display: flex;
  align-items: baseline;
}

.site-header__theme-toggler-container {
  display: none;

  @include mixins.laptopAndUp {
    min-width: 130px;
    display: block;
    margin-left: 21px;
  }
}
