---
title: Page Not Found
description: Sorry, the page you're looking for doesn't exist.
layout: base.njk
permalink: /404.html
eleventyExcludeFromCollections: true
---

<section class="page-section page-section--hero">
  <div class="max-width-wrapper">
    <h1 class="page-title">Page not found</h1>
    
    <p>Sorry, the page you're looking for doesn't exist. It might have been moved, deleted, or you may have typed the URL incorrectly.</p>
    
    <a href="/">&larr; Back to home page</a>
  </div>
  
  <img src="/img/small-flower-oj.svg" alt="" class="page-section__flower-decoration-left">
  <img src="/img/small-flower-oj.svg" alt="" class="page-section__flower-decoration-right">
</section>
