---
title: About
description: Olivia Coumans, front-end developer in Paris
layout: base.njk
---

<h1>About</h1>
<p>
  My name is Olivia. I'm a front-end developer in Paris with 5+ years of experience working on both B2B and B2C
  products.
</p>
<h2>Work</h2>
<ol reversed="reversed">
  <li>
    <strong>Since June 2023</strong>, I have been working as a senior front-end developer at <a href="https://www.welcometothejungle.com/en">Welcome to the Jungle</a>.
  </li>
  <li>
    <strong>From October 2018 to December 2022</strong>, I was working as a front-end developer at <a href="https://www.meilleursagents.com/">Meilleurs Agents</a>,
      building features for a web application used by thousands of real estate agencies.
  </li>
</ol>
<h2>Some side projects</h2>
<ul>
  <li>The <a href="https://www.pierrecoumansbooks.com/">website</a> for my father's incredible bookshop. Website built using Wordpress and a custom theme that I created from scratch using PHP, HTML, and a little bit of JavaScript.</li>
  <li><a href="https://github.com/liv7c/gen_prettier">A small CLI tool</a> (previously a bash script) to generate a prettier config file. It was a great little project to explore embedded templates in Go :)</li>
  <li>My constantly evolving <a href="https://github.com/liv7c/nvim-config">neovim config.</a></li>
</ul>
<h2>My tech stack</h2>
<ul>
  <li>
    React and other libraries in its ecosystem (e.g. TanStack Query, Redux and Redux Toolkit)
  </li>
  <li>Typescript</li>
  <li>Jest, Vitest, React Testing Library and Cypress for testing</li>
  <li>CSS, SASS and CSS-in-JS solutions like Emotion and Styled Components</li>
</ul>
<h2>Learning, always</h2>
<p>
  I'm a self-taught developer. What I love about being a developer is learning something new every day (even a tiny
  detail). In 2016, I wrote my first few lines of HTML, which was the start of an incredible journey.
</p>
<p id="things-love-learning">Things I currently love learning about:</p>
<ul aria-describedby="things-love-learning">
  <li>
    Web accessibility (semantic HTML, adopting an accessibility-first approach, understanding the
                WCAG)
  </li>
  <li>Type systems (exploring this topic with Typescript)</li>
  <li>Go(lang) along with some SQL</li>
</ul>
