---
title: About
description: Olivia Coumans, front-end developer in Paris
layout: base.njk
---

<div class="page-section page-section--hero">
  <div class="max-width-wrapper">
    <h1 class="page-title">About me...</h1>
    <p id="tidbits" class="about-page__tidbits">A few tidbits:</p>
    <ul aria-labelledby="tidbits" class="about-page__tidbits-list" role="list">
      <li>
        I’ve been working as a front-end developer for the past six years,
        building products for both B2C and B2B.
      </li>
      <li>
        My journey into coding started with a year and a half of self-learning.
        This time was filled with perseverance, frustration, and plenty of "What
        am I doing?" moments.
      </li>
      <li>
        Professionally, I’ve worked extensively with React and its evolving
        ecosystem, from (vanilla) Redux and class components to migrating
        codebases to hooks and TypeScript.
      </li>
      <li>
        Web accessibility is something I care deeply about. With every project,
        I try to dig deeper and build things that are as inclusive and
        user-friendly as possible.
      </li>
      <li>
        I also love branching out and experimenting. Lately, that means learning
        Go to build small tools that improve my dev workflow. And for the past
        three years, I’ve been using Vim (still a basic user, but editing this
        way makes me happy).
      </li>
    </ul>
  </div>
</div>
<section class="page-section page-section--dark">
  <div class="max-width-wrapper about-page__experience-wrapper">
    <h2>Work experience</h2>
    <ol reversed="reversed" class="about-page__experience-list" role="list">
      <li>
        <div>
          <h3>Software Engineer - Evaneos</h3>
          <p>
            <strong>Since June 2025</strong>, I have been working as a <strong>Software Engineer</strong> at 
            <a href="https://www.evaneos.fr/" target="_blank">Evaneos</a>, an online platform that connects travelers with local travel agencies to co-create tailor-made journeys.
          </p>

        <ul>
          <li>Develop and maintain front-end features for a suite of B2B web applications used by travel agents.</li>
          <li>Work primarily with React, TypeScript, MUI, and CSS modules to implement user-facing user interfaces.</li>
          <li>Collaborate closely with designers, backend developers, and product managers to deliver user-centered solutions.</li>
        </ul>

          <ul class="tech-stack-list">
            <li>React</li>
            <li>Typescript</li>
            <li>CSS Modules</li>
            <li>Jest</li>
            <li>@tanstack/react-query</li>
            <li>Next.js</li>
          </ul>
        </div>
      </li>
      <li>
        <div>
          <h3>Senior Front-end Developer - Welcome to the Jungle</h3>
          <p>
            <strong>From June 2023 to May 2025</strong>, I worked as a <strong>Senior Front-end Developer</strong> at 
            <a href="https://www.welcometothejungle.com/en" target="_blank">
              Welcome to the Jungle</a>, a platform that helps job seekers and employers connect with more transparency.
          </p>

        <ul>
          <li>Led front-end development of two candidate-facing products: an application tracker and a job comparison tool using micro-frontend architecture.</li>
          <li>Collaborated with product and design teams to build a sourcing tool from scratch, emphasizing performance, accessibility, and polished UX.</li>
          <li>Led a small team of two, iterated based on user feedback, adding search filters and integrating a responsive card layout to present candidate info.</li>
          <li>Improved test reliability by introducing Vitest and MSW, implemented parallel test execution on CircleCI, and maintained high code coverage.</li>
          <li>Led accessibility improvements through targeted code reviews and internal knowledge-sharing demos.</li>
        </ul>

          <ul class="tech-stack-list">
            <li>React</li>
            <li>Styled components</li>
            <li>Typescript</li>
            <li>Vite</li>
            <li>@tanstack/react-query</li>
            <li>Vitest</li>
            <li>@testing-library/react</li>
          </ul>
        </div>
      </li>
      <li>
        <div>
          <h3>Front-end Developer - Meilleurs Agents</h3>
          <p>
            <strong>From October 2018 to December 2022</strong>, I worked as a
            Front-End Developer at
            <a href="https://www.meilleursagents.com/" target="_blank"
              >Meilleurs Agents</a
            >, where I contributed to building new products and improving
            existing ones.
          </p>
          <ul>
            <li>Worked on the rework of <em>Connect</em>, a platform connecting sellers and real estate agencies, including developing an interactive map for intuitive zone selection.</li>
            <li>Built responsive applications using React, TypeScript, and Redux, migrating to Redux Toolkit and React Testing Library for improved maintainability and testing reliability.</li>
            <li>Mentored and onboarded new team members.</li>
            <li>Ensured feature quality with Jest, React Testing Library, and Cypress, enhancing product stability.</li>
            <li>Led the rebuild of the B2B app layout with an accessibility-first approach, focusing on the application menu, and created a guide on accessibility best practices as part of the accessibility guild.</li>
          </ul>
          <ul class="tech-stack-list">
            <li>React</li>
            <li>JavaScript</li>
            <li>SASS</li>
            <li>Redux</li>
            <li>Webpack</li>
            <li>Jest</li>
            <li>Cypress</li>
          </ul>
        </div>
      </li>
    </ol>
  </div>
  <img
    src="/img/small-flower-oj.svg"
    alt=""
    class="page-section__flower-decoration-left"
  />
  <img
    src="/img/small-flower-oj.svg"
    alt=""
    class="page-section__flower-decoration-right"
  />
</section>
<section class="page-section">
  <div class="max-width-wrapper">
    <div class="page-section__title-with-flower">
      <h2>Other projects</h2>
      <img
        src="/img/yellow-orange-flower.svg"
        alt=""
        class="page-section__title-flower page-section__title-flower--small"
      />
    </div>

    <article class="project-card">
      <header class="project-card__header">
        <div class="project-card__header-meta-info">
          <h3>Pierre Coumans - Rare Books</h3>
          <a
            href="https://www.pierrecoumansbooks.com/"
            class="button-link button-link--small"
            target="_blank"
            >Visit website &rarr;</a
          >
        </div>
        <div class="project-card__image-wrapper">
          <img
            src="/img/pierre_coumans_screenshot.png"
            alt="Hero section of the homepage where Pierre Coumans is written in large and bold letters. There is also a portion of a slideshow with current news about the bookshop."
          />
        </div>
      </header>
      <div>
        <ul>
          <li>Designed and coded the website from scratch.</li>
          <li>
            Developed a custom WordPress theme using PHP templates, Sass for styling, and vanilla JavaScript.
          </li>
          <li>Integrated WPML plugins for internationalization.</li>
          <li>
            Integrated the website with MailChimp, enabling the website owner to
            build momentum with their newsletter and email campaigns.
          </li>
        </ul>
        <ul class="project-card__tech-stack">
          <li>Wordpress</li>
          <li>HTML</li>
          <li>SASS</li>
          <li>JavaScript</li>
        </ul>
      </div>
    </article>
  </div>
</section>

