---
title: Blog
description: Olivia Coumans, front-end developer in Paris
layout: base.njk
---


<div class="page-section page-section--hero blog-listing">
  <div class="max-width-wrapper">
    <h1 class="page-title">All the blog posts</h1>

    <ul class="blog-listing__list">
      {%- for post in collections.posts | reverse -%}
      <li class="card blog-listing__card">
        <h2>
          <a href="{{ post.url }}">
            {{ post.data.title }}
          </a>
        </h2>
        <div class="blog-listing__card-meta-info">
          <p class="content-tag">{{ post.data.topics }}</p>
          <time datetime="{{ post.data.date | isoDate }}" class="post-list__date">{{
            post.data.date | asPostDate
          }}</time>
        </div>
      </li>
      {%- endfor -%}
    </ul>
  </div>
</div>

<img src="/img/bouquet.svg" alt="" class="blog-listing__flower blog-listing__flower--right-middle">
<img src="/img/yellow-orange-flower.svg" alt="" class="blog-listing__flower blog-listing__flower--left-middle">
<img src="/img/orange-yellow-flower.svg" alt="" class="blog-listing__flower blog-listing__flower--left-top">
<img src="/img/orange-yellow-flower.svg" alt="" class="blog-listing__flower blog-listing__flower--left-bottom">
<img src="/img/blue-yellow-flower.svg" alt="" class="blog-listing__flower blog-listing__flower--right-bottom">
