---
title: Home
description: Olivia Coumans, front-end developer in Paris
layout: base.njk
---

<section class="home-section home-section--hero">
  <div class="max-width-wrapper">
    <div class="home-hero">
      <div class="home-hero__content">
        <h1 class="home-hero__title">Welcome to my dev blog!</h1>
        <p class="home-hero__subtitle">
          Hi, I’m Olivia, a self-taught front-end developer. 
          I love sharing my learnings, from developer tools to web accessibility and performance.
        </p>
      </div>
      <img src="/img/big-flower.svg" alt="">
    </div>
  </div>
</section>

<section class="home-section home-section--dark">
  <div class="max-width-wrapper">
    <h2>A few (not that interesting) facts about me</h2>
    <ul class="home-facts-list">
      <li>
        I wrote my first line of code at 24 and never looked back. I instantly fell in love with building UIs, and it's been my passion for the past 6 years as a front-end developer.
      </li>
      <li>
        My ultimate work goal is to build user interfaces that are easy to use and work great. Tech stacks are just the tools to get there.
      </li>
      <li>
        I’ve been trying to finish The Voyage Out by Virginia Woolf for the past 6 months... It's such a great book, but I keep having to restart it. (Am I in an infinite loop?)
      </li>
    </ul>
  </div>
</section>

<section class="home-section">
  <div class="max-width-wrapper">
    <h2>Latest and freshest posts</h2>
    {% set posts = collections.posts | reverse | limit(2) %}

    <ul class="home-post-list">
      {%- for post in posts -%}
      <li class="home-post-item">
        <a href="{{ post.url }}">
          <strong>{{ post.data.title }}</strong>
          <time datetime="{{ post.data.date | isoDate }}" class="post-list__date">{{
              post.data.date | asPostDate
          }}</time>
        </a>
      </li>
      {%- endfor -%}
    </ul>
    <a href="/blog" class="home-post-link">See all posts &rarr;</a>
  </div>
</section>


