---
title: Home
layout: base.njk
---

<h1>Hi, I'm Olivia.</h1>
<p>
  I'm a front-end developer based in Paris. Areas of interest include web
  accessibility, JavaScript, React.js, vim, and a bit of Go on the side.
</p>

<h2>Latest blog posts</h2>
