---
title: Home
description: Olivia Coumans, front-end developer in Paris
layout: base.njk
---

<h1>Hi, I'm Olivia.</h1>
<p>
  I'm a front-end developer based in Paris. Areas of interest include web
  accessibility, JavaScript, React.js, vim, and a bit of Go on the side.
</p>

<h2>Latest blog posts</h2>

{% set posts = collections.posts | reverse | limit(2) %}

<ul>
  {%- for post in posts -%}
  <li>
    <a href="{{ post.url }}">{{ post.data.title }}</a>
    <div>
      <time datetime="{{ post.data.date | isoDate }}" class="post-list__date">{{
        post.data.date | asPostDate
      }}</time>
    </div>
  </li>
  {%- endfor -%}
</ul>

<a href="/blog" class="button-link">See all posts &rarr;</a>
