@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Medium.ttf') format('ttf');
  font-weight: 500;
  font-style: semi-bold;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: bold;
  font-display: swap;
}

.heading-post {
  margin-bottom: 16px !important;
}

.skip-link {
  background: #fff;
  left: 0;
  padding: 10px 12px;
  position: absolute;
  z-index: 1;
  top: -50px;
  display: block;
}

.skip-link:focus {
  outline-offset: 3px;
  top: 0;
}
